/* ============== start responsive ================= */
/* =========== max width 1150px  ================== */
@media (max-width: 1150px) {
  .card {
    width: 45%;
  }

  .box {
    width: 80%;
    display: flex;
  }
}

/* =========== below 944px (tablets) ================== */
@media (max-width: 944px) {
  html {
    font-size: 13px;
  }

  .container {
    width: 90%;
  }

  .section__padding {
    padding-bottom: 150px;
  }

  .nav__bar {
    padding-top: 25px;
  }

  .hero__section {
    flex-direction: column;
    text-align: center;
  }

  .hero__section-content {
    margin-bottom: 20px;
  }

  .hero__section-img img {
    width: 70%;
  }

  .navbar__menu {
    display: flex;
  }

  .link_item,
  .healthcare__provider,
  .download__app {
    flex-direction: column;
  }

  .link_item {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 400px;
    background-color: var(--main-color);
    transition: all 0.3s ease-in-out;
    padding: 50px;
    font-size: 2rem;
    pointer-events: none;
    opacity: 0;
  }

  .link_item a,
  .link_item a.active {
    color: var(--white);
  }

  .link_item a:hover {
    letter-spacing: 1.2px;
    color: var(--white);
  }

  .testimonials {
    padding: 30px 40px;
  }

  .testi__wrapper {
    gap: 20px;
  }

  .footer {
    padding: 20px;
  }

  .copyright,
  .copyright p {
    width: 100%;
    text-align: center;
  }

  .company,
  .helo,
  .region {
    margin-right: 120px;
  }
}
/* ===========  max width 704px ================== */

@media (max-width: 704px) {
  .card {
    width: 90%;
    text-align: center;
  }

  .healthcare__provider,
  .download__app,
  .testi__wrapper,
  .testi__wrapper-img {
    flex-direction: column;
  }

  .section__heading.text__left {
    text-align: center;
  }

  .section__heading.section__heading.text__left h2::before {
    left: 50%;
  }

  .testimonials {
    text-align: center;
  }

  .box {
    width: 95%;
  }

  .company,
  .helo,
  .region {
    margin-right: 100px;
  }
}

/* =========== mobile device max width 544px ================== */
@media (max-width: 544px) {
  .section__padding {
    padding-bottom: 100px;
  }

  .background__img {
    display: none;
  }

  .dots {
    margin: 0 50px;
  }

  .our__latest {
    background-image: none;
  }

  .box {
    display: block;
  }

  .footer__content {
    gap: 10px;
    text-align: center;
  }

  .copyright h2 span {
    margin-right: 5px;
  }

  .company,
  .helo,
  .region {
    margin-right: 20px;
  }
}
